@import "semantic-ui"; 
#billboard-show {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}
#billboard-content {
  font-size: 25px;
  font-weight: bold;
}
#bill-buttons {
  text-align: center;
}
#index-bill {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}