<div class="ui center aligned icon header">
  <h1 class="ui center aligned icon header">Edit Billboard</h1>
  <br />
    <%= render "form", billboard: @billboard %>
      <br />
        <%= link_to "Back", billboard_path(@billboard), class: "ui primary button" %>
</div>